---
import type { GetStaticPaths } from "astro";
import shiki from "shiki";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import Document from "../components/Document";
import PostList from "../components/PostList.astro";
import Newsletter from "../components/Newsletter.astro";
import { getReader } from "../lib/getReader";
import { isClassStaticBlockDeclaration } from "typescript";

export const getStaticPaths = (async () => {
  const reader = getReader();
  const posts = (await reader.collections.posts.all()).filter(
    (post) => post.entry.published && post.entry.date
  );

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post: post.entry,
      slug: post.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { post, slug } = Astro.props;
const content = await post.content();

const reader = getReader();
const recentPosts = (await reader.collections.posts.all())
  .filter(
    (post) => post.entry.published && !post.entry.unlisted && post.entry.date
  )
  .filter((p) => p.slug !== slug)
  .sort(
    (a, b) =>
      new Date(b.entry.date!).getTime() - new Date(a.entry.date!).getTime()
  )
  .slice(0, 3);

// Don't load highlighter on every page to improve build efficiency.
let highlighter = null;
if (content.find((block) => block.type === "code")) {
  highlighter = await shiki.getHighlighter({ theme: "dracula" });
}
---

<Layout title={post.title} ogImage={post.cover_image ?? undefined}>
  <div class="mt-12">
    <div
      class="flex flex-col sm:flex-row sm:items-end sm:justify-between gap-x-6"
    >
      <h1 class="text-2xl font-serif text-gray-800">
        {post.title}
      </h1>
      <p class="mt-0.5 text-gray-400 sm:text-right shrink-0 text-sm italic">
        {
          new Date(post.date!).toLocaleString("en-US", {
            timeZone: "UTC",
            month: "long",
            day: "numeric",
            year: "numeric",
          })
        }
      </p>
    </div>

    {
      post.cover_image && (
        // The dimensions of this image are more or less the default "21x9" aspect ratio from
        // Visual Electric. I hardcoded the aspect ratio to avoid a layout shift as it's loading.
        <img
          src={post.cover_image}
          alt=""
          class="mt-6 rounded-md ring-4 ring-white shadow-md aspect-[544/225] object-cover w-full"
        />
      )
    }

    <Prose class={post.cover_image ? "mt-6" : "mt-8"}>
      <Document document={content} highlighter={highlighter!} />
    </Prose>

    <section
      class="mt-8 bg-white shadow-sm rounded-lg px-4 py-3 ring-1 ring-gray-200/50 -mx-2"
    >
      <Prose>
        <h2>More blog posts</h2>
      </Prose>
      <div class="mt-2 space-y-2 sm:space-y-1.5">
        <PostList posts={recentPosts} />
      </div>

      <div class="h-px bg-gray-100 mt-6 mb-5"></div>

      <Newsletter />
    </section>
  </div>
</Layout>
